body {
    font-size: 1.2em;
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

    color: #0a0a0a;
    background-color: #ffe1ff;
    background-image: linear-gradient(14deg, #ffe1ff, #fec6ff);
    background-attachment: fixed;
}

a {
    color: rgb(97, 73, 149);
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fae1ff;
        background-color: #1e1c1e;
        background-image: linear-gradient(14deg, #1e1c1e, #461c43);
    }

    a {
        color: rgb(175, 146, 238);
    }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin-bottom: 3rem;
}

#home {
    margin-top: 5rem;
    text-align: center;
}