body {
    font-size: 1.2em;
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

    color: #000000;
    background-image: linear-gradient(14deg, #ff96fc, #f1b9f2);
    background-attachment: fixed;
}

a {
    color: rgb(58, 14, 153);
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fcd5ff;
        background-image: linear-gradient(14deg, #370636, #600262);
    }

    a {
        color: rgb(175, 146, 238);
    }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin-bottom: 3rem;
}

#home {
    margin-top: 5rem;
    text-align: center;
}