:root {
    --fg: #1f1529;
    --bg: #ffe1ff;
    --accent: rgb(102, 44, 228);
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: #ebe3f2;
        --bg: #1e1c1e;
        --accent: rgb(175, 146, 238);
    }
}

body {
    font-size: 1.2em;
    /* font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif; */
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

    color: var(--fg);
    background-color: var(--bg);
    background-image: linear-gradient(14deg, #ffe1ff, #fec6ff);
    background-attachment: fixed;
}

a {
    color: var(--accent);
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(14deg, #483b48, #510e4c);
    }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin-bottom: 3rem;
}

#home {
    margin-top: 5rem;
    text-align: center;
}

hr {
    margin: 2em 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--fg), rgba(0, 0, 0, 0));
}